
<div class="header" style="margin-top: 75px;">
    <h3 class="title" style="text-align: center;">Standalone Features In Angular 18</h3>

    <div class="public" style="text-align: center;">
        <a href="https://github.com/BhuvaneswariShanker" target="_blank" >
            <mat-icon svgIcon="github"></mat-icon>
            <span>For more Angular concepts, visit my GitHub repository</span>
        </a>
    </div>
    
</div>



<div class="maincontent" style="padding: 75px;">

    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-around center">
        <button (mouseenter)="onMouseEnter(1)" (mouseleave)="onMouseLeave(1)" style="background-color: #2596be; height: 150px; width: 150px; border-radius: 20px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25); border: none;" [@buttonHover]="hoverState1" routerLink="/eager-loading" routerLinkActive="background-color : #FFFFFF;">Eager Loading</button>
        <button (mouseenter)="onMouseEnter(2)" (mouseleave)="onMouseLeave(2)" style="background-color: #2596be; height: 150px; width: 150px; border-radius: 20px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25); border: none;" [@buttonHover]="hoverState2" routerLink="/on-demand-loading" routerLinkActive="background-color : #FFFFFF;">On Demand Loading</button>
    </mat-toolbar> 
</div>

<div style="padding: 75px; text-align: center;">
    <router-outlet></router-outlet>
</div>


